.header-container {
  width: 100vw;
  height: 10vh;
  max-width: 1440px;
  max-height: 116px;
  background-color: var(--apple-green);
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-container__logo {
  content: url(../../img/svg/logo.svg);
  width: auto;
  height: auto;
}