:root {
  --apple-green: #7ed321;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SFUITextNormal";
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  src: url(./font/SFUIText-Regular.otf);
}

@font-face {
  font-family: "SFUIText";
  src: url(./font/SFUIText-Regular.otf);
}


body {
  margin: 0;
  font-family: "SFUIText", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
